{{>common/header}}
{{>common/normal-container}}
	<div class="page-header">
	  <h1>About AppSensor</h1>
	</div>
	
	<div>
		<p>This is the reference UI for the OWASP AppSensor project. For more information, see these resources:</p>
		<ul>
		  <li>The AppSensor <a href="http://www.appsensor.org" target="_blank">web site</a></li>
		  <li>The AppSensor <a href="https://www.owasp.org/index.php/OWASP_AppSensor_Project" target="_blank">OWASP site</a></li>
		  <li>AppSensor at <a href="https://github.com/jtmelton/appsensor" target="_blank">GitHub</a></li>
		</ul>
	</div>
{{>common/footer}}