{{>common/header}}
{{>common/normal-container}}

	<div id="react_dashboard_container">
	    <!-- react to replace -->
	</div>
	<div class="row">
		<div class="col-md-8">
			<div>
				<h4 class="dashboard-section-header"><strong>Activity Log (most recent)</strong></h4>
			   	<table id="dashboard-activity-log" class="table table-condensed">
			   		<tr>
			   			<th>Type</th>
			   			<th>Category</th>
			   			<th>From</th>
			   			<th>To</th>
			   			<th>Timestamp</th>
			   		</tr>
			   	</table>
			</div>
		</div>
		<div class="col-md-4">
		</div>
			  
	</div>
	

{{>common/footer}}
