{{>common/header}}
{{>common/normal-container}}
	<div class="page-header">
	  <h1>Trends</h1>
	</div>
	
	<table class="table trend-data text-center">
		<tr class="text-huge">
			<td><p id="month-events" class="trend-same">0</p></td>
			<td><p id="week-events" class="trend-same">0</p></td>
			<td><p id="day-events" class="trend-same">0</p></td>
			<td><p id="shift-events" class="trend-same">0</p></td>
			<td><p id="hour-events" class="trend-same">0</p></td>
		</tr>
		<tr class="text-huge">
			<td><p id="month-responses" class="trend-same">0</p></td>
			<td><p id="week-responses" class="trend-same">0</p></td>
			<td><p id="day-responses" class="trend-same">0</p></td>
			<td><p id="shift-responses" class="trend-same">0</p></td>
			<td><p id="hour-responses" class="trend-same">0</p></td>
		</tr>
		<tr>
			<td><p>Month (30 Days)</p><p id="month-time-span">-</p></td>
			<td><p>Week</p><p id="week-time-span">-</p></td>
			<td><p>Day</p><p id="day-time-span">-</p></td>
			<td><p>Shift (8 hours)</p><p id="shift-time-span">-</p></td>
			<td><p>Hour</p><p id="hour-time-span">-</p></td>
		</tr>
	</table>
	
	<div class="text-right"><span>Last updated: </span><span id="last-updated-time">&nbsp;</span></div>
	
{{>common/footer}}